﻿@media all {

    .tagReplace {
        border: red 1px solid;
        color: red;
        padding: 5px;
        background-color: black;
    }

    .reportCont h2 {
        font-size: 35pt;
    }

    .reportCont p, .texty {
        font-size: 20pt;
        line-height: 35pt;
        width: 80%;
        margin: auto;
        text-align: justify;
    }

    .marginedLeft {
        margin-left: 10%;
    }

    .marginedRight {
        margin-right: 10%;
    }

    .textyContent {
        font-size: 20pt;
        line-height: 35pt;
        direction: ltr;
    }
}
