﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="intro.aspx.cs" Inherits="hospidar.intro" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Test page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <h3>welcome to our testing page</h3>
    </div>
    </form>
</body>
</html>
